

.margin {
	margin: 100px;


}

#bg {
  transform: scaleX(-1);
  position: fixed; 
  top: 0; 
  left: 0; 
  
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}


  




.carousel{
  background-color:rgba(204,37,23,.3);
  height: 22em;
  color: rgba(255,255,255,.8);
}

.carousel-indicators {
	bottom: 0;
}

.carousel-indicators .active {
	background-color: #222;
}
.carousel-indicators li {
	border-color: #222;
}

.btn-primary {
    border: 7px solid;
    border-color: rgba(0,0,0,.1);
    background-color:rgb(255,129,54); 
    border-radius: 12px;

}

.btn-primary:hover{

  background-color: rgb(178,68,62);
  border-color: rgba(0,0,0,.1);
  
}

.text{
    font-size: 3em;
    color: rgba(255,255,255,.7);

}

.title{
  color:rgba(204,37,23,.5);
  font-size: 10em;
  

}








